Topic: Error Handling **9th Class assaignment**
Make the Assaignment by Error Handling with **try/except **

In [1]:
# Simple print any integer number:
n=int(input("Enter your Number"))
print(n)

Enter your Number2
2

In [3]:
# Make the Table by input Integer dataType:
n=int(input("Enter your Number: "))
for i in range(1,11 ):
  print(f"{n}x{i}={n*i}")

Enter your Number: 2
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20

In [4]:
# Make the Table by not Integer dataType:
n=int(input("Enter your Number: "))
for i in range(1,11 ):
  print(f"{n}x{i}={n*i}")

Enter your Number: eman

ValueError: invalid literal for int() with base 10: 'eman'

In [6]:
# Catch the Error with try / except:
try:
  n=int(input("Enter your Number: "))
  print(f"You Entered: {n}\n")
  for i in range(1,11 ):
    print(f"{n}x{i}={n*i}")
except ValueError:
  print("Invalid Input! Please Enter a Valid Number.")

Enter your Number: 3
You Entered: 3

3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
3x10=30

In [9]:
# Any Multiplication Table by type any integer Number:
try:
    num = int(input("Enter a Number: "))
    print(f"You Entered: {num}\n")

    print(f"Multiplication Table of {num}:\n")
    for i in range(1, 50):
        print(f"{num} x {i} = {num * i}")

except ValueError:
    print("Invalid Input! Please Enter a Valid Number.")

Enter a Number: 44
You Entered: 44

Multiplication Table of 44:

44 x 1 = 44
44 x 2 = 88
44 x 3 = 132
44 x 4 = 176
44 x 5 = 220
44 x 6 = 264
44 x 7 = 308
44 x 8 = 352
44 x 9 = 396
44 x 10 = 440
44 x 11 = 484
44 x 12 = 528
44 x 13 = 572
44 x 14 = 616
44 x 15 = 660
44 x 16 = 704
44 x 17 = 748
44 x 18 = 792
44 x 19 = 836
44 x 20 = 880
44 x 21 = 924
44 x 22 = 968
44 x 23 = 1012
44 x 24 = 1056
44 x 25 = 1100
44 x 26 = 1144
44 x 27 = 1188
44 x 28 = 1232
44 x 29 = 1276
44 x 30 = 1320
44 x 31 = 1364
44 x 32 = 1408
44 x 33 = 1452
44 x 34 = 1496
44 x 35 = 1540
44 x 36 = 1584
44 x 37 = 1628
44 x 38 = 1672
44 x 39 = 1716
44 x 40 = 1760
44 x 41 = 1804
44 x 42 = 1848
44 x 43 = 1892
44 x 44 = 1936
44 x 45 = 1980
44 x 46 = 2024
44 x 47 = 2068
44 x 48 = 2112
44 x 49 = 2156

In [10]:
#  Error Handling except Exception as e:
x = (input("Enter your Number: "))
print(f"Multiplication Table of {x} is: ")
try:
    for i in range(1, 11):
        print(f"{int(x)} x {i} = {int(x) * i}")
except Exception as e:
    print(e)
print("End of programe")

Enter your Number: 5
Multiplication Table of 5 is:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
End of programe

In [11]:
#  Error Handling except Exception as e (Find the Error)
x = (input("Enter your Number: "))
print(f"Multiplication Table of {x} is: ")
try:
    for i in range(1, 11):
        print(f"{int(x)} x {i} = {int(x) * i}")
except Exception as e: # instead of e we can use Error
    print(e)
print("End of programe")

Enter your Number: eman
Multiplication Table of eman is:
invalid literal for int() with base 10: 'eman'
End of programe