# **# Assaignment NO.1 10th Class Work ko google Colab ki notebook main run Kerwana:**

# TOPIC NO:1
# GLOBAL & Local Variables

# **Global variable:
# A global variable is a variable that is declared outside of any function or block and can be accessed and modified throughout the entire program. It has a global scope, meaning it can be used by any function or code block in the program.

# Local variable:
# A local variable is a variable that is declared inside a function or block. Its scope is limited to that particular function or block, meaning it can only be accessed and modified within that function or block**

In [ ]:
num_x = 70

print("Num_x outside fuction one", num_x)
def hello():
      global num_x
      global result
      result = 70 + 30
      print("Num_x inside fuction one",num_x )
      print("hi,My name is Eman")
hello()
print("Num_x outside fuction one", num_x)

print("result<<<<<",result)

Num_x outside fuction one 70
Num_x inside fuction one 70
hi,My name is Eman
Num_x outside fuction one 70
result<<<<< 100

**DOC** **STRING** :
# ** A docstring in Python is a special type of comment used to document functions, classes, or modules. It is enclosed in triple quotes (""" """ or ''' ''') and typically provides a description of what the function, class, or module does, its parameters, and its return value (if applicable). **

In [ ]:
def addition(num1:int,num2:int)->int:
      """takes two parameter and return their sum"""
      return num1 +num2
result=addition(2,2)
print(addition.__doc__)
print(result)

takes two parameter and return their sum
4

TOPIC NO.3

**SET** **MEHODS**

 **In Python, a set is an unordered collection of unique elements. There are several built-in methods available for sets that allow you to perform various operations**

In [3]:
try:
  names_set={"Aisha","Hafsa","Eman","Eman"}
except:
  print("names set",names_set[1])

# Type of Common SET METHODS :
# YEH SIR NEY KERWAYE THEY

# 1.add
# 2.remove
# 3.discard
# 4.pop
# 5.union
# 6.intersection

# Add Methods :
The add() method in Python's set is used to add a single element to the set. If the element already exists in the set, it will not be added again, because sets do not allow duplicate values

Since sets do not allow duplicate elements, if "Saira" was already in the set, it would not be added again. But in this case, "Saira" is added to the set

In [4]:
# ADD METHOD BY STRING
names_set={"Aisha","Hafsa","Eman","Eman"}
names_set.add("Saira")
print(names_set)

# ADD METHOD BY INTEGER
numbers_set={1,2,3,4,5}
numbers_set.add(6)
print(numbers_set)

{'Saira', 'Eman', 'Hafsa', 'Aisha'}

# Remove Method :
The remove() method in Python's set is used to remove a specific element from the set. If the element is not found, it raises a KeyError
If "Maryum" is not present in the set, this will raise a KeyError. To avoid this, you can either check if the element exists using an if statement or use the discard() method instead, which doesn't raise an error if the element is not found

In [30]:
# REMOVE METHOD BY STRING

names_set={"Aisha","Hafsa","Eman","Eman"}
names_set.remove("Aisha")
print(names_set)


names_set={"Aisha","Hafsa","Eman","Eman"} # maryum is not the list
names_set.remove("Maryum")
print(names_set)


# REMOVE METHOD BY INTEGER
numbers_set={1,2,3,4,5}
numbers_set.remove(2)
print(numbers_set)

{1, 2, 4, 5}

# Discard Method :
The discard() method in Python's set is used to remove a specific element from the set. If the element is not found, it does not raise an error, unlike remove()
Since "Maryum" is not in the set, the discard() method doesn't raise an error, and the set remains unchanged. This is the key difference from the remove() method, which would raise a KeyError if the element is not found

In [25]:
# DISCARD METHOD BY STRING

names_set ={"Aisha","Hafsa","Eman","Eman"}
names_set.discard("Aisha")  # Aisha
print(names_set)

# DISCARD METHOD BY INTEGER
numbers_set={1,2,3,4,5}
numbers_set.discard(3) # 3 is discard
print(numbers_set)

{'Eman', 'Hafsa'}
{1, 2, 4, 5}

# Pop Method :
The pop() method in Python's set removes and returns an arbitrary element from the set. Since sets are unordered, you can't predict which element will be removed.

In [10]:
# POP METHOD BY STRING
names_set={"Aisha","Hafsa","Eman","Eman"}
names_set.pop()
print(names_set)

#POP METHOD BY INTEGER
numbers_set={1,2,3,4,5}
numbers_set.pop()
print(numbers_set)

{'Hafsa', 'Aisha'}
{2, 3, 4, 5}

# Union Method :
The union() method in Python's set returns a new set that contains all elements from both sets, without duplicates.

In [11]:
# UNION METHOD BY STRRING
names_set1 = {'Aisha', 'Eman', 'Sana'}
names_set2={"Ali","Umair","Bilal","Sana"}
names_set1.union(names_set2)
print(names_set1)

# UNION METHOD BY INTEGER
nums1={1,2,3,4,}
nums2={3,6,7,1}
result=nums1.union(nums2)
print(result)

{'Eman', 'Sana', 'Aisha'}
{1, 2, 3, 4, 6, 7}

# Intersection Method:
The intersection() method in Python's set returns a new set containing only the elements that are present in both sets.

In [12]:
# INTERSECTION METHOD BY STRING
names_set1 = {'Aisha', 'Eman', 'Sana'}
names_set2={"Ali","Umair"}
names_set1.intersection(names_set2)
print(names_set1)

#INTERSECTION METHOD BY INTEGER
a= {1,2,3}
b={3,4,5}
c=a.intersection(b)
print(c)

{'Eman', 'Sana', 'Aisha'}
{3}

** ASSAIGNMENT NO.2 OF 10TH CLASS **

 ** REMAINING METHODS OF SETS **

# Clear Method :
The clear() method in Python's set removes all elements from the set, leaving it empty

In [14]:
# CLEAR METHOD BY STRING
names_set1 = {'Aisha', 'Eman', 'Sana'}
names_set.clear()
print(names_set)

# CLEAR METHOD BY INTEGER
s={1,2,3,4}
s.clear()
print(s)

set()
set()

# Copy Method :
The copy() method in Python's set creates a shallow copy of the set, meaning it creates a new set with the same elements.

In [15]:
# COPY METHOD BY STING
names_set = {'Aisha', 'Eman', 'Sana'}
names_set2={"Ali","Umair"}
names_set2.copy()
print(names_set2)


# COPY Method BY INTEGER
a= {1,2,3,4}
b=a.copy()
print(b)

{'Ali', 'Umair'}
{1, 2, 3, 4}

# Difference Method :
The difference() method in Python's set returns a new set containing elements that are in the first set but not in the second set

In [19]:
# Difference METHOD BY STRING
names_set={'Aisha', 'Eman', 'Sana'}
names_set2={"Ali","Umair"}
names_set2.difference(names_set)
print(names_set2)

#DIFFERENCE METHOD BY INTEGER

a={1,2,3}
b={3,4,5}
c=a.difference(b)
print(c)

{'Ali', 'Umair'}
{1, 2}

# Issubset :
The issubset() method in Python's set checks if all elements of the first set are contained in the second set, returning True or False.

In [20]:
# SET ISSUBSET
a={1,2,3}
b=s={1,2,3,4,5}
c={1,2,4}
print(a.issubset(b))

True

# Isuperset :
The issuperset() method in Python's set checks if the first set contains all elements of the second set, returning True or False

In [21]:
#SET ISUPERSET
a={1,2,3}
b=s={1,2,3,4,5}
c={1,2,4}
print(a.issuperset(a))

True

In [22]:
# SET UPDATE
a={1,2,3}
b={"Ali","Naina","Aisha"}
c={8,9,5}
a.update(b)
print(a)

{'Naina', 1, 2, 3, 'Aisha', 'Ali'}

In [ ]:
# SET INDEX METHOD
# Convert set to a list to access by index
names_list = list(names_set)
print("names_list:", names_list[1])

# Isdisjoint :
The isdisjoint() method in Python's set checks if two sets have no elements in common, returning True or False.

In [31]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
result = set1.isdisjoint(set2)  # Returns True
print(result)

True

# Symmetric_difference :
The symmetric_difference() method in Python's set returns a new set with elements that are in either of the sets, but not in both.

In [32]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
result = set1.symmetric_difference(set2)  # Returns {1, 2, 4, 5}
print(result)

{1, 2, 4, 5}

# Syemmetric difference Update :
The symmetric_difference_update() method in Python's set updates the set by removing elements found in both sets and adding elements that are unique to each set

In [33]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)  # Updates set1 to {1, 2, 4, 5}
print(set1)

{1, 2, 4, 5}