# assaignment no2
# if/elif/else conditional oprators
# make a result Grade sheet with conditional oprators

In [ ]:
# no.1 method >=

marks=int(input("Enter your Number(o to 100)"))
if marks>=80:
      print("Grade A+1: ")
elif marks>=70:
      print("Grade A: ")
elif marks>=60:
      print("Grade B: ")
elif marks>=50:
      print("Grade C: ")
elif marks>=40:
      print("Grade D: ")
elif marks>=33:
      print("Traqqi pass")
else:
      print("Fail")

Enter your Number(o to 100)50
Grade C:

In [ ]:
# no.2 method ==

marks=int(input("Enter your Number(o to 100)"))
if marks==80:
      print("Grade A+1: ")
elif marks==70:
      print("Grade A: ")
elif marks==60:
      print("Grade B: ")
elif marks==50:
      print("Grade C: ")
elif marks==40:
      print("Grade D: ")
elif marks==33:
      print("Traqqi pass")
else:
      print("Fail")

Enter your Number(o to 100)30
Fail

In [1]:
#no.3 method >= with grade & f string:

marks = int(input("Enter your number: "))

if marks >= 90:
    grade = "A"
elif marks >= 80:
    grade = "B"
elif marks >= 70:
    grade = "C"
elif marks >= 60:
    grade = "D"
else:
    grade = "Fail"

print(f"Student: marks {marks} Grade {grade}")

Enter your number: 50
Student: marks 50 Grade Fail

In [9]:
# no.4 method
# with Nested if &
# Marks with Remarks

# with f string:

marks=int(input("Enter your Number(o to 100)"))
if marks>=80:
      print("Marvelous")
      if marks!=80:
            grade = "A+1"
            remarks = "Excellent"
      elif marks==70:
            grade = " A"
            remarks = "Fair"
      elif marks>=60:
            grade = " B"
            remarks = "Good"
      else:
            remarks = "not grade just percentage"
elif marks<=50:
      grade = " C"
      remarks = "fair"
elif marks==40:
      grade = " D"
      remarks = " Need Improvement"
elif marks==33:
      grade = "Taraqqi Pass"
      remarks = "Poor"
else:
      remarks = "Fail"
      print(f"Student: Marks {marks} Grade {grade} Remarks {remarks}")

Enter your Number(o to 100)58
Student: Marks 58 Grade  C Remarks Fail

In [11]:
# assaignment no.2
# Tables by list of numbers:

numbers:list[int]=[1,2,3,4,5,6,7,8,9,10]

print('table of Two')
for i in numbers:
      print(f"2x{i}={2*i}")


print('table of Three')
for i in numbers:
      print(f"3x{i}={3*i}")

print('table of Four')
for i in numbers:
     print(f"4x{i}={4*i}")

print('table of Five')
for i in numbers:
      print(f"5x{i}={5*i}")

print('table of Six')
for i in numbers:
      print(f"6x{i}={6*i}")


print('table of Seven')
for i in numbers:
      print(f"7x{i}={7*i}")


print('table of Eight')
for i in numbers:
      print(f"8x{i}={8*i}")

print('table of Nine')
for i in numbers:
      print(f"9x{i}={9*i}")

print('table of Ten')
for i in numbers:
      print(f"10x{i}={10*i}")

table of Two
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20
table of Three
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
3x10=30
table of Four
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
4x10=40
table of Five
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50
table of Six
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
6x10=60
table of Seven
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70
table of Eight
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
8x10=80
table of Nine
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81
9x10=90
table of Ten
10x1=10
10x2=20
10x3=30
10x4=40
10x5=50
10x6=60
10x7=70
10x8=80
10x9=90
10x10=100

In [12]:
# tables with (for loop,(range)

for i in range(1,11):
      print("2x",i,"=",2*i)

# Result with F string:

for i in range(1,11):
     print(f"3x{i}={3*i}")

2x 1 = 2
2x 2 = 4
2x 3 = 6
2x 4 = 8
2x 5 = 10
2x 6 = 12
2x 7 = 14
2x 8 = 16
2x 9 = 18
2x 10 = 20
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
3x10=30